spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/auth/**
            - Method=POST,GET
          filters:
            - name: RequestRateLimiter
              args:
                rate-limiter: "#{@userRateLimiter}"
                key-resolver: "#{@userKeyResolver}"
        
        - id: genetic-service
          uri: lb://GENETIC-SERVICE
          predicates:
            - Path=/api/v1/analyze/**
          filters:
            - name: CircuitBreaker
              args:
                name: geneticServiceCB
                fallbackUri: forward:/fallback/genetic
        
        - id: model-service
          uri: lb://MODEL-SERVICE
          predicates:
            - Path=/api/v1/models/**
          filters:
            - StripPrefix=2

      default-filters:
        - name: Retry
          args:
            retries: 3
            statuses: BAD_GATEWAY,SERVICE_UNAVAILABLE
